@charset "utf-8";

html,
body {
    margin: 0;
    padding: 0;
    font-family: \5fae\8f6f\96c5\9ed1;
    font-size: 12px;
    color: #333;
    width: 100%;
    line-height: 160%;
    background: #000000;
}

a {
    color: #09C;
    text-decoration: none;
    outline: none;
}

a:visited {
    text-decoration: none;
    color: #09C;
}

a:hover {
    text-decoration: none;
    color: #C00;
}

a:focus {
    outline: 0;
}

a:active {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
    line-height: 150%;
}

input,
font,
select,
option,
textarea,
button,
fieldset,
legend {
    font-family: \5fae\8f6f\96c5\9ed1;
    color: #666;
    font-size: 1em;
    line-height: 120%;
}

img {
    border: none;
}

ul,
ol,
dl,
li,
form {
    margin: 0;
    padding: 0;
    list-style: none;
}

div,
td,
PRE {
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 18px;
    color: #333;
}

textarea {
    resize: none
}

.clear {
    clear: both;
    height: 0px;
    width: 0px;
    margin: 0 auto;
    font-size: 0;
}

.hide {
    display: none;
}




.gridMenu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

.gridMenu .position {
    width: 110%;
}

.gridMenu .logos {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 300px;
    height: 120px;
    background: url(img/logo.png) no-repeat;
    z-index: 1;
    cursor: pointer;
}

.gridMenu .logos a {
    display: block;
    text-indent: -9999px;
    height: 100%;
}

.gridMenu p {
    padding: 5px 0;
    margin: 0;
}

.gridMenu .body {
    position: absolute;
    z-index: 5;
    top: 0;
    display: none;
    left: 100px;
    width: 400px;
    _width: 401px;
    height: 500px;
    background: #d5d5d5;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

.gridMenu .body dl {
    position: relative;
    float: left;
    width: 99px;
    height: 99px;
    margin: 1px 0 0 1px;
    background: #fafafa;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}

.gridMenu .body .show {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 100px;
}

.gridMenu .cells li {
    float: left;
    width: 99px;
    height: 99px;
    border: none;
    border-bottom: 0px dashed #222;
    border-right: 0px dashed #222;
}

.gridMenu .item {
    position: absolute;
    top: -200px;
    width: 100px;
    height: 100px;
    z-index: 50;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.gridMenu .item li {
    position: absolute;
    display: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background: #1FC4E0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.gridMenu .item li a {
    display: block;
    height: 100%;
    overflow: hidden;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 0;
    text-indent: -9999px;
}

.gridMenu .item li a:hover {
    /* margin: 5px;
    width: 90px;
    height: 90px; */
}

.gridMenu .item li a.action {}

.gridMenu .item li span {
    display: none;
    position: absolute;
    left: 0;
    top: -100px;
    width: 80px;
    height: 75px;
    padding: 10px;
    background: #FFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 50;
    -webkit-box-shadow: #CCC 0px 0px 5px;
    -moz-box-shadow: #CCC 0px 0px 5px;
    box-shadow: #CCC 0px 3px 5px;
}

.gridMenu .item li span b {
    position: absolute;
    top: 10px;
    left: 10px;
}

.gridMenu .item li span font {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.gridMenu .item li span i {
    position: absolute;
    bottom: -12px;
    left: 35px;
    background: url(img/logo.png) 0 -150px no-repeat;
    display: block;
    width: 32px;
    height: 12px;
    z-index: 50;
}

.gridMenu .item .thumb {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 50px;
    line-height: 100%;
}

.gridMenu .item .thumb.action {
    display: block;
}

.gridMenu .item .show {
    width: 100px;
    height: 100px;
}

.gridMenu .item .small-thumb {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
}

.gridMenu .item .close {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 20;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.gridMenu .title {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #FFF;
    font-size: 16px
}

.gridMenu .about-me {
    background: #828282;
}

.gridMenu .about-me .close {
    background: url(img/close.png) center center no-repeat #5c5c5c;
}

.gridMenu .about-me .small-thumb {
    background: url(img/ico.png) 0 -150px no-repeat;
}

.gridMenu .about-me-body .me {
    float: left;
    width: 200px;
    height: 200px;
    background: url(img/me.png) 10px 5px no-repeat;
}

.gridMenu .about-me-body .about {
    float: left;
    width: 180px;
    padding: 0 9px;
}

.gridMenu .about-me-body p {
    text-indent: 25px;
}

.gridMenu .about-me-body .name {
    display: inline-block;
    margin: 15px 0 0 0;
    font-size: 18px;
}

.gridMenu .about-me-body .introduction {
    padding: 0 10px;
}

/* 社交链接 */
.gridMenu .link {
    background: #92c469;
}

.gridMenu .link .close {
    background: url(img/close.png) center center no-repeat #92c469;
}

.gridMenu .link .small-thumb {
    background: url(img/ico.png) 0 -50px no-repeat;
}


.gridMenu .sina-weibo {
    top: -100px;
    left: 0;
}

.gridMenu .sina-weibo a {
    background: url(img/apps.jpg) -0px -200px;
}


.gridMenu .weixin-gh {
    top: 0px;
    left: 100px;
}

.gridMenu .weixin-gh a {
    background: url(img/apps.jpg) -100px -200px;
}

.gridMenu .chizi-blog {
    top: 100px;
    left: -100px;
}

.gridMenu .chizi-blog a {
    background: url(img/apps.jpg) -200px -200px;
}

.gridMenu .github {
    top: 100px;
    left: 100px;
}

.gridMenu .github a {
    background: url(img/apps.jpg) -300px -200px;
}

/* 作品 */
.gridMenu .works {
    background: #d77075;
}

.gridMenu .works .close {
    background: url(img/close.png) center center no-repeat #d77075;
}

.gridMenu .works .small-thumb {
    background: url(img/ico.png) 0 0px no-repeat;
}

.gridMenu .mengbaobao {
    top: -100px;
    left: 0;
}

.gridMenu .mengbaobao a {
    background: url(img/apps.jpg) 0 -100px;
}

.gridMenu .langmanpuzi {
    top: 100px;
    left: 100px;
}

.gridMenu .langmanpuzi a {
    background: url(img/apps.jpg) -100px -100px;
}

.gridMenu .lgobot {
    top: -100px;
    left: -100px;
}

.gridMenu .lgobot a {
    background: url(img/apps.jpg) -200px -100px;
}

.gridMenu .xqx {
    top: 0px;
    left: 100px;
}

.gridMenu .xqx a {
    background: url(img/apps.jpg) -300px -100px;
}

/* 名片 */
.gridMenu .contact-me {
    background: #e2a24e;
}

.gridMenu .contact-me .close {
    background: url(img/close.png) center center no-repeat #e2a24e;
}

.gridMenu .contact-me .small-thumb {
    background: url(img/ico.png) 0 -100px no-repeat;
}

.gridMenu .contact-me-body {
    background: none;
}

.gridMenu .contact-me-body .show {}

.gridMenu .business-card {
    position: relative;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    padding: 45px 0 10px 10px;
    width: 400px;
}

.gridMenu .business-card ul {}

.gridMenu .business-card li {
    position: relative;
    padding: 2px 0 2px 40px;
    color: #01c0e2;
}

.gridMenu .business-card strong {
    position: absolute;
    top: 3px;
    left: 120px;
    font-weight: 700;
    color: #000000
}

.gridMenu .business-card span {
    position: absolute;
    top: 3px;
    left: 290px;
}


/* 看过 */
.gridMenu .reading {
    background: #7388C1;
}

.gridMenu .reading .close {
    background: url(img/close.png) center center no-repeat #7388C1;
}

.gridMenu .reading .small-thumb {
    background: url(img/ico.png) 0 -200px no-repeat;
}

.gridMenu .reading-body {
    background: none;
}

.gridMenu .reading-body img {
    width: 100px;
}

.gridMenu .reading .show {}


/* 工具 */
.gridMenu .apps {
    background: #79378B;
}

.gridMenu .apps .close {
    background: url(img/close.png) center center no-repeat #79378B;
}

.gridMenu .apps .small-thumb {
    background: url(img/ico.png) 0 -250px no-repeat;
}

.gridMenu .app-2048 {
    top: 100px;
    left: -100px;
}

.gridMenu .app-2048 a {
    background: url(img/apps.jpg);
}

.gridMenu .app-color {
    top: -100px;
    left: 0;
}

.gridMenu .app-color a {
    background: url(img/apps.jpg) -100px 0;
}

.gridMenu .app-baidu {
    top: 0;
    left: -100px;
}

.gridMenu .app-baidu a {
    background: url(img/apps.jpg) -200px 0;
}

.gridMenu .app-shifter {
    top: 0;
    left: 100px;
}

.gridMenu .app-shifter a {
    background: url(img/apps.jpg) -300px 0;
}

.gridMenu .app-chi {
    top: 100px;
    left: 100px;
}

.gridMenu .app-chi a {
    background: url(img/apps.jpg) -400px 0;
}

.gridMenu .app-girl {
    top: -100px;
    left: -100px;
}

.gridMenu .app-girl a {
    background: url(img/apps.jpg) -500px 0;
}

.gridMenu .qq {
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background: url("http://wpa.qq.com/imgd?IDKEY=a3afffb91eeedc5ab83a9658ba01686c2b8c055350d65543&pic=52");
}

.gridMenu .mail {
    vertical-align: middle;
    display: inline-block;
    font-size: 0;
    text-indent: -9999px;
    width: 25px;
    height: 25px;
    background: url(img/ico.png) -500px -550px no-repeat;
}

.gridMenu .weibo {
    vertical-align: middle;
    width: 21px;
    height: 21px;
    display: inline-block;
    font-size: 0;
    text-indent: -9999px;
}



.gridMenu .effects-explode {
    position: absolute;
    overflow: hidden;
}